<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.mapper.MenuInfoMapper">
    <resultMap id="menuInfoMap" type="com.yh.dto.MenuInfoDto">
        <id column="menuid" property="id"></id>
        <result column="menuname" property="name"></result>
        <result column="menupath" property="url"></result>
        <result column="menuicon" property="icon"></result>
        <result column="parentid" property="pid"></result>
        <result column="checked" property="checked"></result>
        <collection property="children" ofType="com.yh.dto.MenuInfoDto">
            <id column="cid" property="id"></id>
            <result column="cname" property="name"></result>
            <result column="cpath" property="url"></result>
            <result column="cicon" property="icon"></result>
            <result column="cpid" property="pid"></result>
            <result column="checked" property="checked"></result>
        </collection>
    </resultMap>

    <select id="getAllMenu" resultMap="menuInfoMap" parameterType="int">
        select tb1.*,rm.status checked  from (
        SELECT m1.*,m2.menuid cid,m2.menuname cname,
        m2.menupath cpath,m2.menuicon cicon,m2.parentid cpid
        from menuinfo m1,menuinfo m2  where m1.menuid = m2.parentid) tb1
         LEFT JOIN role_menu rm on tb1.cid = rm.menuid where roleid = #{roleId}

    </select>

    <update id="emptyMenu" parameterType="int">
        update role_menu set status=0 where roleid=#{roleId}
    </update>

    <select id="queryExist" parameterType="map" resultType="int">
        select count(1) from role_menu where roleid=#{roleId} and menuid=#{menuId}
    </select>

    <update id="updateRM" parameterType="map">
        update role_menu set status=1 where roleid=#{roleId} and menuid=#{menuId}
    </update>

    <insert id="addRM" parameterType="map">
        insert into role_menu values (default ,#{roleId},#{menuId},1)
    </insert>

    <insert id="addRMByAssign" parameterType="com.yh.vo.AssignPermessionVo">
        insert into role_menu values
        <foreach collection="menuIds" item="menuId" separator=",">
            (default ,#{roleId},#{menuId},1)
        </foreach>
    </insert>

    <select id="getMenuAll" parameterType="com.yh.pojo.MenuInfo" resultType="com.yh.pojo.MenuInfo">
        select * from menuinfo
    </select>

    <select id="getCount" resultType="int" parameterType="com.yh.vo.MenuInfoVo">
        select count(*) from menuinfo
        <if test="menuname!=null and menuname !=''">
            and menuname = #{menuname}
        </if>
    </select>

    <select id="getMenuInfosPageBy" parameterType="com.yh.vo.MenuInfoVo" resultType="com.yh.pojo.MenuInfo">
        SELECT * from menuinfo where parentid=0
        <if test="menuname!=null and menuname !=''">
            and menuname = #{menuname}
        </if>
        limit #{splitePageBean.start},#{splitePageBean.pageSize}
    </select>

    <select id="getMenuInfoBy" resultType="com.yh.pojo.MenuInfo" parameterType="com.yh.pojo.UserInfo">
        SELECT * FROM menuinfo where menuid in
        (SELECT MAX(m.menuid) FROM userinfo u ,user_role ur,roleinfo r ,role_menu rm,menuinfo m
        where  u.userid = ur.userid and ur.roleid = r.roleid
        and r.roleid = rm.roleid and rm.menuid = m.menuid and  ur.status=1 and rm.status=1 and u.userid = #{userId}
        GROUP BY m.menuid)
    </select>
</mapper>